@{
    ViewData["Title"] = "Dashboard";
    Layout = "_Layout";
}

<section class="container p-3">

      <div class="card-text text-center p-3 line" style="font-size: 20px;font-weight: 500;text-decoration: underline;">Welcome! </div>
      <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4">
    
    
        <!-- LUP START -->
        <a href="#" class="col" style="text-decoration: none; color: black;">
          <div class="card" style="background-color: #C6F4D6;">
            <div class="card-body">
              <h5 class="card-title text-center" style="color: #666;">Total Created
              <p class="card-text text-center" style="font-size: 50px;font-weight: 900;">50</p>
            </div>
          </div>
        </a>

        <a href="#" class="col" style="text-decoration: none; color: black;">
          <div class="card" style="background-color: #C6F4D6;">
            <div class="card-body">
              <h5 class="card-title text-center" style="color: #666;">Pending in QC
              <p class="card-text text-center" style="font-size: 50px;font-weight: 900;">50</p>
            </div>
          </div>
        </a>

        <a href="#" class="col" style="text-decoration: none; color: black;">
          <div class="card" style="background-color: #C6F4D6;">
            <div class="card-body">
              <h5 class="card-title text-center" style="color: #666;">Pending in Accounts
              <p class="card-text text-center" style="font-size: 50px;font-weight: 900;">50</p>
            </div>
          </div>
        </a>

        <a href="#" class="col" style="text-decoration: none; color: black;">
          <div class="card" style="background-color: #C6F4D6;">
            <div class="card-body">
              <h5 class="card-title text-center" style="color: #666;">Pending in Production
              <p class="card-text text-center" style="font-size: 50px;font-weight: 900;">50</p>
            </div>
          </div>
        </a>


      </div>
      
</section>

